---
import logo from '../assets/logo.svg';
import deliveroo from '../assets/deliveroo.svg';
import takeaway from '../assets/takeaway.webp';
import uberEats from '../assets/uberEats.webp';
---

<aside class="flex-1 flex flex-col justify-between items-center bg-white p-1 m-1 max-w-16">
    <ul class="flex-1 flex flex-col justify-center items-center gap-4">
        <!-- Logo -->
      <li class="flex-1">
            <a href="/home">
                <img src={logo.src} class="w-full" alt="Astro Homepage" />
            </a>
        </li>
        <!-- Pages -->
        <li class="flex-1">
            <a href="/home">
                <img src={logo.src} class="w-full" alt="Astro Homepage" />
            </a>
        </li>
        <!-- Shared -->
        <li class="flex-0">
            <a
            target="_blank"
            rel="noopener noreferrer"
            class="flex rounded-lg border-2 border-solid border-b-black p-2"
            href="https://deliveroo.be/fr/menu/brussels/grand-place/lorchidee-rose/">
                <img src={deliveroo.src} class="w-full aspect-square" alt="" />
            </a>
        </li>
        <li class="flex-0">
            <a
            target="_blank"
            rel="noopener noreferrer"
            class="flex rounded-lg border-2 border-solid border-b-black p-2"
            href="https://www.takeaway.com/be-fr/menu/orchidee-rose">
                <img src={takeaway.src} class="w-full aspect-square" alt="" />
            </a>
        </li>
        <li class="flex-0">
            <a
            target="_blank"
            rel="noopener noreferrer"
            class="flex rounded-lg border-2 border-solid border-b-black p-2"
            href="https://www.ubereats.com/be/store/lorchidee-rose/jlxIyov6SzyuW3HU8GYPnA?diningMode=DELIVERY">
                <img src={uberEats.src} class="w-full aspect-square" alt="" />
            </a>
        </li>
    </ul>
</aside>