---
import { sanityClient } from "sanity:client";

const items = await sanityClient.fetch(`*[_type == "menu"]`);

import Content from '../../components/Content.astro';
import Main from '../../layouts/Main.astro';
import MenuAside from '../../components/MenuAside.astro';

export function getStaticPaths() {
  return [
    { params: { page: "appetizers" }},
    { params: { page: "soups" }},
    { params: { page: "vegetarian" }},
    { params: { page: "fish-and-shellfish" }},
    { params: { page: "meat" }},
    { params: { page: "noodles-and-rice" }},
    { params: { page: "dessserts" }},
    { params: { page: "wines" }},
  ];
}

const { page } = Astro.params;
---
<Main>
	<Content>
		<MenuAside />
		<div class="tabs tabs-lift">
			<input type="radio" name="my_tabs" class="tab" aria-label="Thailand" />
			<div class="tab-content bg-base-100 border-base-300 p-6">
				{items.map((x: { origin: string; category: string; name: string; description: string }) => {
					if (x.origin === 'thailand' && x.category === page) {
						return (
							<>
								<p>
									{x.name}
								</p>
								<p>
									{x.description}
								</p>
							</>
						)
					}
				})}
			</div>

			<input type="radio" name="my_tabs" class="tab" aria-label="China" checked="checked" />
			<div class="tab-content bg-base-100 border-base-300 p-6">
				{items.map((x: { origin: string; category: string; name: string; description: string }) => {
					if (x.origin === 'china' && x.category === page) {
						return (
							<>
								<p>
									{page}
								</p>
								<p>
									{x.name}
								</p>
								<p>
									{x.description}
								</p>
							</>
						)
					}
				})}
			</div>

			<input type="radio" name="my_tabs" class="tab" aria-label="Vietnam" />
			<div class="tab-content bg-base-100 border-base-300 p-6">
				{items.map((x: { origin: string; category: string; name: string; description: string }) => {
					if (x.origin === 'vietnam' && x.category === page) {
						return (
							<>
								<p>
									{x.name}
								</p>
								<p>
									{x.description}
								</p>
							</>
						)
					}
				})}
			</div>
		</div>
	</Content>
</Main>
